.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: black;
}

.logo {
  width: 40px;
  height: 40px;
}

.nav-right a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-size: 16px;
}

.nav-right a:hover {
  color: aqua;
}
